<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UniversalLib.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ZTFramework.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZTFrameworkBundle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD2CAD2B19A47D4F002D03FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2CAD4119A47D50002D03FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA2CA4A19654E2F00C8D186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA2CA5A19654E2F00C8D186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDA2CA7419654EB400C8D186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDBDA857196D23E3000FA46B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC6399919A1A1AD00571D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDC639AF19A1A1AD00571D73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEC4CCC1992049B00A5F98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDEC4CE21992049B00A5F98A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
